.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    border: 2px solid white;
    pointer-events: none;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: width 100ms, height 100ms;
    z-index: 77999;
}

/* disable cursor circle on mobile screens */

@media (max-width: 1024px) {
  .cursor {
    all: unset;  /* thanks to W3C for creating that kicking ass shit */
  }
}
