.cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    pointer-events: none;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: all .2s ease-out;
    z-index: 77999;
}

/* disable cursor circle on mobile screens */
@media (max-width: 1024px) {
  .cursor {
    all: unset; 
  }
}
