:root {
  --primary-font-color-rgb: rgb(255,255,255);
  --accent-font-color-rgb: rgb(175, 175, 175);
  --primary-background-color-rgb: rgb(0,0,0);
  --body-max-width: 55rem;  
  --border-width: 2px;
  --border-radius: 10px;
}

* {  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--primary-font-color-rgb);
  background-color: var(--primary-background-color-rgb);
  padding: 0 1rem;
  max-width: var(--body-max-width);
  margin: 0 auto;
}

/* invert colors when selecting text */
::selection {
  background-color: var(--primary-font-color-rgb);
  color: var(--primary-background-color-rgb);
}

a {
  color: inherit;
  text-decoration: underline;
}

.section-title {
  margin-bottom: 1rem;
  text-align: center;
}