* {  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(255,255,255);
  background-color: black;
  padding: 0 1rem;
}

::selection {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 6rem;
}

p {
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
  color: inherit;
  text-decoration: underline;
} 

@media (max-width: 1024px) {

  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 2rem;
  }
}