.hero {
    max-width: 45rem;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    padding: 6rem 0;
    text-align: center;
}

.heading {
    font-size: 4rem;
}

.subheading {
    font-size: 2rem;
}

.description {
    color: var(--accent-font-color-rgb);
}

.button {
    all: unset;
    padding: .5rem 1rem;
    border: var(--border-width) solid;
    border-radius: var(--border-radius);
    transition: transform .2s ease-in;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .heading {
        font-size: 3rem;
    }
    
    .subheading {
        font-size: 1.5rem;
    }    
}